<h1>Search Page</h1>

<form action="/searchmovie" method="POST">
    <input type="text" name="item" placeholer="Movie Name">
    <button id="bt">Search</button>
</form>

<div>
    <ul>
<% if ( results != 0 ){ %>
      <h2>Searched Results: <%= Number(totalResults) %></h2>
<%    for ( var i = 0 ; i < results ; i++ ){ %>
        <li>
            <h3>Title: <%= movies[i].Title %></h3>
            <h5>Year: <%= movies[i].Year %></h5>
        </li>
<%    } %>
<% }    %>
    </ul>
</div>